button {
  @apply font-medium text-sm py-1 px-2 rounded;
  &.btn-alternate {
    @apply bg-transparent;
  }
  &.btn-big {
    @apply text-lg py-2 px-4;
  }
  &:disabled {
    pointer-events: none;
  }
}

.btn-primary {
  @apply border border-primary bg-primary text-white;
  &:hover {
    @apply bg-transparent text-primary;
  }
  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
  &.btn-alternate {
    @apply text-primary;
    &:hover {
      @apply bg-primary text-white;
    }
  }
}

.btn-secondary {
  @apply border border-secondary bg-secondary text-white;
  &:hover {
    @apply bg-transparent text-secondary;
  }
  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
  &.btn-alternate {
    @apply text-secondary;
    &:hover {
      @apply bg-secondary text-white;
    }
  }
}
